    body{
        font-family: 'Merriweather', serif;
        
    }
    #fill{
        padding:20px 0px 0px 0px; 
    }
    .my_title{
    text-align:center;
    color: black;
    text-shadow: 2px 2px 4px blue;
    }
    #menu{
        position: fixed;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: blue;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
    .my_pic{
    height:300px;
    width:250px;
    float:center;
    padding:20px
    }
    .my_img_div{
    display:block
    }
    .cv-div{
    text-align:center;
    margin-bottom:100px
    }
    .cv{
    border-radius:20px;
    font-size: larger;
    border:5px;
    padding: 20px;

    }
    .ourservice{
        margin-top:10px
    }
    iframe{
    width:100%;
    height:400px;
    }
    .more_projects{
    text-align:center;
    margin-top:20px
    }
    .more_projects_button{
    border-radius:20px;
    border:5px
    }
    form {
        width: 60vw;
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        margin-top:25px;
      }
      
      fieldset {
        border: none;
        padding: 2rem 0;
        border-bottom: 3px solid #3b3b4f;
      }
    .inline{
        border-radius:20px;
    }
    footer{
        background-color: rgb(73, 78, 82);
        color:aliceblue;
        padding:20px;
        margin-top:10px;
    }
.footer_pages a{
    display: block;
    color:dimgrey;
    text-decoration: none;
}

#logos{
    font-size:45px;
}

.fa{
    color:blue
}

.contact-main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact-main a{
    display: inline-block;
}

.web-preview a{
  font-size: 20px;
}

